.MovieContainer
{
    background-color: #FF7F3F;
    margin: 30px;
    padding: 10%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.moviePoster
{
    width: 150px;
    height: 200px;
    margin-top:10%;
}


.moviePropertyContainer
{
}


.movieProperty
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
}



