.MovieContainer
{
    background-color: #FF7F3F;
    margin: 20px;
    border-radius: 20px;
    height: 350px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}



.moviePoster
{
    width: 150px;
    height: 200px;
}


.moviePropertyContainer
{
}


.movieProperty
{
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    margin-left: 25px;
}



