.MovieContainer
{
    background-color: #FFB100;
    margin: 30px;
    padding: 10%;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}



.moviePoster
{
    width: 150px;
    height: 200px;
    margin-top:10%;
}